package/yast2-auth-server*bz2
.yardoc/checksums
.yardoc/complete
.yardoc/object_types
.yardoc/objects/root.dat
.yardoc/proxy_types
*.pot
doc/autodocs
Makefile
/Makefile.am
Makefile.am.common
Makefile.in
configure
configure.ac
config.*
/testsuite/config/
testsuite/run/
*.exp
*.sum
/testsuite/raw.tmp.*
/testsuite/yast2-network.*
/testsuite/*.log
/test-driver
/test/*.trs
/test/*.log
missing
install-sh
*.ami
*.m4
autodocs*
*.cache
*.glade
POTFILES
