[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Misc;

X-SuSE-YaST-Call=inst_slepos_data_migration
X-SuSE-YaST-RootOnly=yes
X-SuSE-YaST-Group=Misc

Icon=yast-disk
Exec=/sbin/yast2 inst_slepos_data_migration

Name=POS Migration Assistant
GenericName=Migrate your old POS data to a new location
StartupNotify=true
